1. Function to Reverse a String

In [ ]:
def reverse_string(s):
    return s[::-1]

# Example usage:
print(reverse_string("Acviss technologies"))

seigolonhcet ssivcA

2. Function to Find the Factorial of a Number

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

# Example usage:
print(factorial(5))
print(factorial(10))
print(factorial(15))

120
3628800
1307674368000

3. Script to Sort a List of Integers in Ascending Order

In [ ]:
def sort_list(nums):
    return sorted(nums)

# Example usage:
print(sort_list([4, 2, 9, 1, 5, 6]))
print(sort_list([5, 2, 9, 1, 3, 6]))
print(sort_list([9, 2, 8, 1, 7, 6]))

[1, 2, 4, 5, 6, 9]
[1, 2, 3, 5, 6, 9]
[1, 2, 6, 7, 8, 9]

4. Using Pandas to Load a CSV, Clean Data, and Perform Basic Analysis

In [2]:
import pandas as pd

file_path='/content/Employee_Salaries.csv'
# def load_and_clean_csv(file_path):
df = pd.read_csv(file_path)
df.head()

,Department,Department_Name,Division,Gender,Base_Salary,Overtime_Pay,Longevity_Pay,Grade
0,ABS,Alcohol Beverage Services,ABS 85 Administration,M,175873.000,0.00,0.0,M2
1,ABS,Alcohol Beverage Services,ABS 85 Administration,M,145613.360,0.00,0.0,M3
2,ABS,Alcohol Beverage Services,ABS 85 Administration,F,136970.000,0.00,0.0,M3
3,ABS,Alcohol Beverage Services,ABS 85 Administrative Services,F,89432.694,0.00,2490.0,21
4,ABS,Alcohol Beverage Services,ABS 85 Administrative Services,F,78947.000,456.68,6257.7,16

In [3]:
df.shape #shape

(10291, 8)

In [4]:
df.info() #information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10291 entries, 0 to 10290
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Department       10291 non-null  object
 1   Department_Name  10291 non-null  object
 2   Division         10291 non-null  object
 3   Gender           10291 non-null  object
 4   Base_Salary      10291 non-null  float64
 5   Overtime_Pay     10291 non-null  float64
 6   Longevity_Pay    10291 non-null  float64
 7   Grade            10258 non-null  object
dtypes: float64(3), object(5)
memory usage: 643.3+ KB

In [5]:
df.isnull().sum()

Department          0
Department_Name     0
Division            0
Gender              0
Base_Salary         0
Overtime_Pay        0
Longevity_Pay       0
Grade              33
dtype: int64

In [6]:
# since less than 1% are null, we can remove these rows

df.dropna(inplace=True)

In [7]:
# check if null values are dropped

df.isna().mean()

Department         0.0
Department_Name    0.0
Division           0.0
Gender             0.0
Base_Salary        0.0
Overtime_Pay       0.0
Longevity_Pay      0.0
Grade              0.0
dtype: float64

In [8]:
# check for duplicates

print(f"Amount of duplicates: {df.duplicated().sum()}")
print(f"Percentage of duplicates: {(df.duplicated().mean()*100).round(1)}")

Amount of duplicates: 609
Percentage of duplicates: 5.9

In [9]:
# since there are more than 5 % of duplicates, we should further investigate

duplicates = df[df.duplicated()]
duplicates.head(10)

,Department,Department_Name,Division,Gender,Base_Salary,Overtime_Pay,Longevity_Pay,Grade
17,ABS,Alcohol Beverage Services,ABS 85 Administrative Services,M,117424.0000,0.0,0.00,N25
18,ABS,Alcohol Beverage Services,ABS 85 Administrative Services,M,117424.0000,0.0,0.00,N25
225,ABS,Alcohol Beverage Services,ABS 85 Goshen Crossing,M,19695.5000,0.0,0.00,12
512,CAT,County Attorney's Office,CAT 30 Finance and Procurement,F,78947.0000,0.0,3357.62,N16
517,CAT,County Attorney's Office,CAT 30 Finance and Procurement,F,158802.0000,0.0,0.00,N32
518,CAT,County Attorney's Office,CAT 30 Finance and Procurement,F,158802.0000,0.0,0.00,N32
565,CAT,County Attorney's Office,CAT 30 Support Services,F,78947.0000,0.0,0.00,N16
589,CCL,County Council,CCL 01 Council Central Staff,F,134500.0000,0.0,2185.69,N28
592,CCL,County Council,CCL 01 Council Central Staff,F,175873.0000,0.0,0.00,M2
610,CCL,County Council,CCL 01 Council Central Staff,F,131114.6781,0.0,0.00,N32

In [10]:
# since there are identical rows, we should remove them bc they can skew summary statistics like mean and total

df.drop_duplicates(inplace=True)
print(f"Amount of duplicates: {df.duplicated().sum()}")

Amount of duplicates: 0

In [11]:
# check how many rows and columns (#rows, #columns)
df.shape

(9649, 8)

In [13]:
categorical_columns = df.select_dtypes(include=['object']).columns
categorical_columns

Index(['Department', 'Department_Name', 'Division', 'Gender', 'Grade'], dtype='object')

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for column in categorical_columns:
  df[column] = le.fit_transform(df[column])

In [15]:
df.head()

,Department,Department_Name,Division,Gender,Base_Salary,Overtime_Pay,Longevity_Pay,Grade
0,0,0,0,1,175873.000,0.00,0.0,55
1,0,0,0,1,145613.360,0.00,0.0,56
2,0,0,0,0,136970.000,0.00,0.0,56
3,0,0,1,0,89432.694,0.00,2490.0,11
4,0,0,1,0,78947.000,456.68,6257.7,6

In [16]:
df['Department'].value_counts()

Department
36    1702
18    1597
16    1361
12    1274
7      513
0      459
21     421
10     390
13     228
38     184
39     182
9      178
40     144
15     112
5      103
4      102
17      95
25      77
3       74
35      65
29      63
6       45
33      40
37      34
2       34
8       28
30      19
11      19
23      18
26      18
31      14
19      11
24      10
32       7
34       6
28       5
20       4
27       3
1        3
41       3
22       2
14       2
Name: count, dtype: int64

In [ ]:
# finally cleaned our dataset then move to further analysis

5. Script to Process a JSON File and Find Maximum Value in a List

In [ ]:
json_data={
    "numbers": [23, 45, 12, 89, 34, 67, 91, 38]
}

# Script to Process a JSON File and Find Maximum Value in a List
def find_max_value(json_data):
  numbers=json_data['numbers']
  max_value=max(numbers)
  return max_value
find_max_value(json_data)

91

6. Simple Binary Search Algorithm

In [ ]:
def binary_search(arr, target):
    low = 0
    high = len(arr) - 1

    while low <= high:
        mid = (low + high) // 2
        if arr[mid] == target:
            return mid
        elif arr[mid] < target:
            low = mid + 1
        else:
            high = mid - 1

    return -1

# Example usage:
print(binary_search([1, 2, 3, 4, 5, 6, 7], 5))
print(binary_search([1, 2, 3, 4, 5, 6, 7], 6))
print(binary_search([1, 2, 3, 4, 5, 6, 7], 7))

4
5
6

8. Working with Databases: SQLite Example

In [17]:
import sqlite3

def interact_with_db():
    conn = sqlite3.connect('example.db')
    c = conn.cursor()

    # Create table
    c.execute('''CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY, name TEXT)''')

    # Insert multiple values
    users = [('Alice',), ('Bob',), ('Charlie',), ('David',), ('Eve',)]
    c.executemany("INSERT INTO users (name) VALUES (?)", users)

    # Commit changes
    conn.commit()

    # Retrieve data
    c.execute('SELECT * FROM users')
    results = c.fetchall()

    c.execute('SELECT name FROM users')
    results = c.fetchall()

    conn.close()
    return results

# Example usage:
print(interact_with_db())

[('Alice',), ('Bob',), ('Charlie',), ('David',), ('Eve',)]

9. Python Script to Connect to SQLite, Insert Data, Retrieve It, and Perform a Simple Query

In [ ]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('acviss.db')
cursor = conn.cursor()

# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
''')

# Insert some data
cursor.execute('''
INSERT INTO users (name, age) VALUES (?, ?)
''', ('Alice', 30))

cursor.execute('''
INSERT INTO users (name, age) VALUES (?, ?)
''', ('Bob', 25))

# Commit the changes
conn.commit()

# Retrieve data
cursor.execute('SELECT * FROM users')
rows = cursor.fetchall()
print("Data from SQLite:")
for row in rows:
    print(row)

# Perform a simple query
cursor.execute('SELECT * FROM users WHERE age > ?', (28,))
rows = cursor.fetchall()
print("\nUsers older than 28:")
for row in rows:
    print(row)

# Close the connection
conn.close()

Data from SQLite:
(1, 'Alice', 30)
(2, 'Bob', 25)

Users older than 28:
(1, 'Alice', 30)

10. Script to Automate Renaming Multiple Files in a Directory Based on a Specific Pattern

In [ ]:
import os
import time
# Script to Automate Renaming Multiple Files in a Directory Based on a Specific Patter
def rename_files_with_timestamp(directory):
    # Get a list of all files in the directory
    files = os.listdir(directory)

    # Iterate through each file
    for file_name in files:
        # Get the full path of the file
        file_path = os.path.join(directory, file_name)

        # Check if the item is a file (not a directory)
        if os.path.isfile(file_path):
            # Get the current timestamp
            timestamp = int(time.time())

            # Create a new file name with the timestamp
            new_file_name = f"file_{timestamp}.txt"
            new_file_path = os.path.join(directory, new_file_name)

            # Rename the file
            os.rename(file_path, new_file_path)
            print(f"Renamed: {file_name} -> {new_file_name}")

# Example usage:
directory_path = '/content/sample_data'
rename_files_with_timestamp(directory_path)

Renamed: README.md -> file_1723534964.txt
Renamed: anscombe.json -> file_1723534964.txt
Renamed: california_housing_test.csv -> file_1723534964.txt
Renamed: california_housing_train.csv -> file_1723534964.txt
Renamed: mnist_train_small.csv -> file_1723534964.txt
Renamed: mnist_test.csv -> file_1723534964.txt